.text-left{
    text-align: left;
}

.text-paragraph{
    font-size: 1.5em;
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
}

.li{
    font-weight: bold;
}

.whisper{
    font-size: 0.5em;
}

.profilePicture{
    height: 200px;
    border-radius: 10%
}